extends layout

block content
  h1= title
  p Welcome to #{title}
  #keyboard.keyboard-holder(style='width: 840px;')
        .white.key(id='KEY_C,-1', style='width: 40px; height: 200px; left: 0px;')
          .label Q
        .black.key(id='KEY_C#,-1', style='width: 30px; height: 120px; left: 25px;')
          .label 2
        .white.key(id='KEY_D,-1', style='width: 40px; height: 200px; left: 40px;')
          .label W
        .black.key(id='KEY_D#,-1', style='width: 30px; height: 120px; left: 65px;')
          .label 3
        .white.key(id='KEY_E,-1', style='width: 40px; height: 200px; left: 80px;')
          .label E
        .white.key(id='KEY_F,-1', style='width: 40px; height: 200px; left: 120px;')
          .label R
        .black.key(id='KEY_F#,-1', style='width: 30px; height: 120px; left: 145px;')
          .label 5
        .white.key(id='KEY_G,-1', style='width: 40px; height: 200px; left: 160px;')
          .label T
        .black.key(id='KEY_G#,-1', style='width: 30px; height: 120px; left: 185px;')
          .label 6
        .white.key(id='KEY_A,-1', style='width: 40px; height: 200px; left: 200px;')
          .label Y
        .black.key(id='KEY_A#,-1', style='width: 30px; height: 120px; left: 225px;')
          .label 7
        .white.key(id='KEY_B,-1', style='width: 40px; height: 200px; left: 240px;')
          .label U
        .white.key(id='KEY_C,0', style='width: 40px; height: 200px; left: 280px;')
          .label I
        .black.key(id='KEY_C#,0', style='width: 30px; height: 120px; left: 305px;')
          .label 9
        .white.key(id='KEY_D,0', style='width: 40px; height: 200px; left: 320px;')
          .label O
        .black.key(id='KEY_D#,0', style='width: 30px; height: 120px; left: 345px;')
          .label 0
        .white.key(id='KEY_E,0', style='width: 40px; height: 200px; left: 360px;')
          .label P
        .white.key(id='KEY_F,0', style='width: 40px; height: 200px; left: 400px;')
          .label [
        .black.key(id='KEY_F#,0', style='width: 30px; height: 120px; left: 425px;')
          .label =
        .white.key(id='KEY_G,0', style='width: 40px; height: 200px; left: 440px;')
          .label ]
        .black.key(id='KEY_G#,0', style='width: 30px; height: 120px; left: 465px;')
          .label A
        .white.key(id='KEY_A,0', style='width: 40px; height: 200px; left: 480px;')
          .label Z
        .black.key(id='KEY_A#,0', style='width: 30px; height: 120px; left: 505px;')
          .label S
        .white.key(id='KEY_B,0', style='width: 40px; height: 200px; left: 520px;')
          .label X
        .white.key(id='KEY_C,1', style='width: 40px; height: 200px; left: 560px;')
          .label C
        .black.key(id='KEY_C#,1', style='width: 30px; height: 120px; left: 585px;')
          .label F
        .white.key(id='KEY_D,1', style='width: 40px; height: 200px; left: 600px;')
          .label V
        .black.key(id='KEY_D#,1', style='width: 30px; height: 120px; left: 625px;')
          .label G
        .white.key(id='KEY_E,1', style='width: 40px; height: 200px; left: 640px;')
          .label B
        .white.key(id='KEY_F,1', style='width: 40px; height: 200px; left: 680px;')
          .label N
        .black.key(id='KEY_F#,1', style='width: 30px; height: 120px; left: 705px;')
          .label J
        .white.key(id='KEY_G,1', style='width: 40px; height: 200px; left: 720px;')
          .label M
        .black.key(id='KEY_G#,1', style='width: 30px; height: 120px; left: 745px;')
          .label K
        .white.key(id='KEY_A,1', style='width: 40px; height: 200px; left: 760px;')
          .label ,
        .black.key(id='KEY_A#,1', style='width: 30px; height: 120px; left: 785px;')
          .label L
        .white.key(id='KEY_B,1', style='width: 40px; height: 200px; left: 800px;')
          .label .

